.back {
    &-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $grey-1;
        padding-left: 32px;
        margin-top: -3px;
        background-image: url(../img/back-arrow.svg);
        background-repeat: no-repeat;
        background-position: center left;
        text-decoration: none;
    }
    &-link {
        text-decoration: none;
    }
}
