.feedback {
    font-size: 18px;
	line-height: 140%;
	color: $grey-3;
	background-color: $grey-5;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 16px;
	margin-bottom: 100px;
	position: relative;
	padding-top: 67px;
	padding-bottom: 68px;
    &__item {
        width: 546px;
        height: 220px;
        background-color: $white;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
        padding: 15px;
    }
        &__img {
            margin-right: 30px;
        }
    &__button {
        background-position: center;
        background-color: $white-opacity;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition-duration: 0.3s;
        transition-property: background-color;
        &:hover {
            background-color:  $white;
        }
        &_left {
            left: 21px;
        }
        &_right {
            right: 21px;
        }
    }   
}

@media (max-width: 1250px) {
    .feedback {
        flex-direction: column;
    }
    .feedback__item_2 {
        display: none;
    }
}

@media (max-width: 768px) {
    .feedback {
        &__img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            object-position: center center;
            margin-right: 10px;
        }
        &__item {
            align-items: flex-start;
            width: 80%;
        }
    }
    .feedback__button{
        display: none;       
    }
}

@media (max-width: 480px) {
    .feedback {
        &__item {
            width: 90%;
            height: 250px;
        } 
        p {
            font-size: 18px;
        }
        &__button {
            display: block;
            top: 90%;
        }
    }
}