.footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-top: 1px solid $grey-5;
	padding: 23px 0 0 0;
    &__logo {
        text-decoration: none;
        margin-right: 42px;
    }
    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-decoration: none;
        color: $grey-1;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        margin: 0 10px;
        transition-duration: 0.3s;
        transition-property: color;
        &:hover {
            color: $purple;
        }
        &:active {
            color: $purpleopacity;  
        }
    }
    &__social {
        align-items: center;
        justify-content: flex-end;
        display: flex;
        margin-left: auto;
        a {
            display: inline-flex;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &_instagram svg {
            fill: $grey-2;
            transition-duration: 0.3s;
            transition-property: fill;
        }
        &_instagram:hover svg {
            fill: $red;
        }
        &_facebook svg {
            fill: $grey-2;
            transition-duration: 0.3s;
            transition-property: fill;
        }
        &_facebook:hover svg {
            fill: $fbk-color;
        }
        &_telegram svg {
            fill: $grey-2;
            transition-duration: 0.3s;
            transition-property: fill;
        }
        &_telegram:hover svg {
            fill: $telg-color;
        }
        div {
            margin-left: 31px;
        }
    }
    &__bottom-text {
        font-size: 12px;
        line-height: 14px;
        text-align: left;
        color: $grey-3;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 22px;
        margin-left: 2px;
    }
}

@media (max-width: 768px) {
    .footer {
        &__logo {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        &__text {
            width: 50%;
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__social {
            margin: 0;
            width: 100%;
            justify-content: center;
            align-items: center;
            div {
                margin: 0 15px;
            }
        }
    }
}

@media (max-width: 480px) {
    .footer__bottom-text span{
        width: 100%;
        text-align: center;
    }
}
