.head-top {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
    min-height: 100px;
    &__logo  {
        margin-right: 30px; 
    }  
    &__item{
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-evenly;
        min-width: 350px;
        }
    &__text_left {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            text-decoration: none;
            color: $grey-1;
            // display: flex;
            // align-items: center;
            // padding-left: 36px;
            transition-duration: 0.5s;
            transition-property: color;
            &:hover {
                color: $purple; 
            }
            &:active {
                color: $purpleopacity; 
            }
        }
    &__phone {
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        text-decoration: none;
        color: $grey-1;
        margin-left: auto;
        transition-duration: 0.5s;
        transition-property: color;
        &:hover {
            color: $purple;
        }
        &:active {
            color: $purpleopacity;
        }
    }
    &__basket { 
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-decoration: none;
        color: $grey-1;
        margin-left: 32px;
        transition-duration: 0.5s;
        transition-property: color;
    &:hover {
        color: $purple;
    }
        &_icon {
            fill: $grey-1;
            transition-duration: 0.5s;
            transition-property: fill;
            margin-left: 2px;
	        margin-bottom: -3px;
        }
        &:hover svg {
            fill: $purple;
        }
    }
    &__link {
        text-decoration: none;
        min-width: 30px;
        min-height: 30px;
        padding: 4px;
        color: $white;
        background-color: $red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }
    &__menu-mobile {
        text-decoration: none;
        width: 40px;
        height: 40px;
        display: none;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .head-top__logo {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .head-top__item {
        display: none;
    }
}

@media (max-width: 480px) {
    .head-top {
        justify-content: space-between;
    }
    .head-top__menu-mobile {
        display: flex;
    }
    .head-top__basket_text {
        display: none;
    }
    .head-top__basket {
        margin-left: 10px;
    }
}
