$red: rgba(255, 58, 58, 1);
$yellow: rgba(255, 205, 78, 1);
$purplegradient: radial-gradient(122% 93.75% at 18.75% 6.25%, #4E5CDA 0%, #6E42B7 100%);
$purple: rgba(92, 7, 144, 1);
$purpleopacity: rgba(92, 7, 144, 0.5);
$turquoise: radial-gradient(171.8% 132.02% at 50% -32.02%, #B3F1FF 0%, #D8FFEA 100%);
$balck: rgba(0, 0, 0, 1);
$grey-1: rgba(82, 82, 82, 1);
$grey-2: rgba(133, 133, 133, 1);
$grey-3: rgba(173, 173, 173, 1);
$grey-4: rgba(201, 201, 201, 1);
$grey-5: rgba(244, 244, 244, 1);
$grey-6: rgba(251, 251, 251, 1);
$white: rgba(255, 255, 255, 1);
$border-pgn: rgba(255, 255, 255, 1);
$telg-color: rgba(55, 174, 226, 1);
$fbk-color: rgba(24, 119, 242, 1);
$white-opacity: rgba(255, 255, 255, 0.5);